<div>
    <h2>Available drones</h2>

    <div>
        {{#each droneList}}
        <ul>
        <li>Nombre: {{name}}</li>
        <li>Hélice: {{propellers}}</li>
        <li>Velocidad: {{maxSpeed}}</li>
        </ul>
        
    <button>
        <a href="/drones/:{{id}}/edit">Update Drone</a>
    </button>
    <button>
        <a href="/drones/:{{id}}/delete">Delete</a>
    </button>

        {{/each}}
    </div>


</div>

